<ion-header translucent>
  <ion-toolbar class="homeToolbar">
    <ion-title>
      <ion-icon (click)="logout()" class="poweroff" name="power-outline"></ion-icon>
      Latest movies
    </ion-title>
  </ion-toolbar> </ion-header>
<ion-content>
  <ion-card *ngFor="let movie of movies">
    <ion-card-header>
      <ion-card-subtitle>Original Language: {{movie.original_language}} </ion-card-subtitle>
      <ion-card-title>{{movie.original_title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="movie.overview">
      {{movie.overview}}
      <ion-text *ngIf="movie.homepage">Homepage: <a href={{movie.homepage}} >{{movie.homepage}}</a></ion-text>
    </ion-card-content>
    <ion-card-content *ngIf="!movie.overview">
      Not description
    </ion-card-content>
  </ion-card>
  <ion-list>
      <ion-item *ngFor="let corte of cortes" (click)="irAPedido(corte)">
        <ion-label>{{corte.nombre}}</ion-label>
        <p>el Kg. ${{corte.precio}}</p>
        <ion-chip *ngIf="corte.oferta" color="danger">
          <ion-label >OFERTA!</ion-label>
        </ion-chip>
      </ion-item>

    </ion-list>

  </ion-content>
